@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --clr-background: #FFE7BF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    background: var(--clr-background);
}
.container {
    max-width: 1200px;
    margin: 1rem;
    padding: 3rem 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.heading {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border: 2px solid red;
}

.heading h2 {
    font-size: 2.5rem;
}
.heading p {
    font-size: 1.5rem;
}
.heading .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heading .icons a {
    font-size: 1.5rem;
    color:  #9cd691;
}
.svg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}